<h3 id="beachName" data-id="{{beach.id}}">{{beach.name}}</h3>
<p>{{beach.description}}</p>
<img src="{{beach.imageUrl}}" alt="{{beach.name}}" width="300" height="200">

<div>
    <form method="POST" action="/beaches/{{beach._id}}/addimage" enctype="multipart/form-data">
    <label>Add your image:</label>
        <input type="file" name="new-beach-image"/>
        <input type="hidden" name="existingImage" value="{{beach.imageUrl}}">
        <input type="submit" id="submit">
    </form>
</div>